{{#section 'css'}}
<link rel="stylesheet" href="/static/css/profile/profile.css">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/js/datetimepicker/jquery.datetimepicker.css" />
{{/section}}
<div class="container-fluid col-sm-12 align-middle" style="font-size:19px;">
    <div id="content" class="container mt-5  p-1 p-md-5 mb-5 bg-light shadow"
        style="background-color: rgb(255, 255, 255); ">
        <div class="col-sm-12">
            {{#if redirect_message}}
            <div id="redirect_message" class="alert alert-info">
                {{redirect_message}}
            </div>
            {{/if}}
            <h2>Thông tin cá nhân</h2>
            <hr>
            <br>
            <div>
                <div class="row">
                    <div class="col-12 col-md-7 d-flex justify-content-start">
                        <!-- NAME and PREMIUM or NOT -->
                        <div class="userData ml-1 ml-md-5">
                            <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{username}}</h2>
                            {{#if is_premium}}
                            <span class="badge badge-success mb-2">premium</span>
                            {{else}}
                            <span class="badge badge-secondary mb-2">normal</span>
                            {{/if}}
                        </div>

                    </div>

                    <div class="col-12 col-md-5 d-flex align-items-between align-self-center flex-column">
                        {{#if is_writer}}
                        <a role="button" href="/writers/articles" class="btn btn-primary mb-2 mx-5"><i
                                class="fa fa-pencil" aria-hidden="true"></i> &nbsp; Dashboard Writer</a>
                        {{/if}}
                        {{#if is_editor}}
                        <a role="button" href="/editors/reviews" class="btn btn-info mb-2 mx-5"><i class="fa fa-edit"
                                aria-hidden="true"></i> &nbsp; Dashboard Editor</a>
                        {{/if}}
                        {{#if is_admin}}
                        <a role="button" href="/admin/dashboard" class="btn btn-secondary mx-5"><i class="fa fa-user"
                                aria-hidden="true"></i> &nbsp; Dashboard Admin</a>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="my-2 mx-1 m-md-5" id="myTabContent">
                <div class="" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

                    <div class="row">

                        <div class="col-11 col-md-3">
                            <label style="font-weight:bold;">Họ và Tên</label>
                        </div>

                        <div class="col-11 col-md-8">
                            {{name}}
                        </div>

                        <div class="col-11 col-md-1">
                            <button class="btn btn-outline-info p-1"><i class="fa fa-edit fa-lg" data-toggle="collapse"
                                    data-target="#change-name"></i></button>
                        </div>

                    </div>

                    <div class="row mt-3 collapse" id="change-name">
                        <div class="col-11 col-md-3">
                        </div>

                        <div class="col-11 col-md-8">
                            <form id="frmName" method="post" action="../auth/change-name">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Họ và tên"
                                        name="name" maxlength="100">
                                    <div id="name_invalid" class="invalid-feedback">
                                        Tên không hợp lệ.
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="col-11 col-md-1">
                            <button type="submit" form="frmName" value="Submit" class="btn btn-outline-success p-1"><i
                                    class="fa fa-check fa-lg"></i></button>
                        </div>

                    </div>


                    <hr />

                    <div class="row">

                        <div class="col-11 col-md-3">
                            <label style="font-weight:bold;">Ngày sinh</label>
                        </div>

                        <div class="col-11 col-md-8">
                            {{date_format_2 dob}}
                        </div>

                        <div class="col-11 col-md-1">
                            <button class="btn btn-outline-info p-1"><i class="fa fa-edit fa-lg" data-toggle="collapse"
                                    data-target="#change-dob"></i></button>
                        </div>


                    </div>


                    <div class="row mt-3 collapse" id="change-dob">
                        <div class="col-11 col-md-3">
                        </div>

                        <div class="col-11 col-md-8">
                            <form id="frmDOB" method="post" action="../auth/change-dob">

                                <div class="form-group">
                                    <label for="date_of_birth">Ngày sinh: </label>
                                    <input readonly id="date_of_birth" name="raw_date_of_birth"
                                        placeholder="dd/mm/yyyy">
                                    <div id="date_of_birth_invalid" class="invalid-feedback">
                                        Ngày sinh không hợp lệ.
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="col-11 col-md-1">
                            <button type="submit" form="frmDOB" value="Submit" class="btn btn-outline-success p-1"><i
                                    class="fa fa-check fa-lg"></i></button>
                        </div>
                    </div>



                    <hr />


                    <div class="row">

                        <div class="col-11 col-md-3">
                            <label style="font-weight:bold;">Giới tính</label>
                        </div>

                        <div class="col-11 col-md-8">
                            {{gender}}
                        </div>

                        <div class="col-11 col-md-1">
                            <button class="btn btn-outline-info p-1"><i class="fa fa-edit fa-lg" data-toggle="collapse"
                                    data-target="#change-gender"></i></button>
                        </div>


                    </div>

                    <div class="row mt-3 collapse" id="change-gender">
                        <div class="col-11 col-md-3">
                        </div>

                        <div class="col-11 col-md-8">
                            <form id="frmGender" method="post" action="../auth/change-gender">
                                <div class="form-group">
                                    <select class="form-select" id="gender" name="gender">
                                        <option selected value="-1">Khác</option>
                                        <option value="1">Nam</option>
                                        <option value="0">Nữ</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                        <div class="col-11 col-md-1">
                            <button type="submit" form="frmGender" value="Submit" class="btn btn-outline-success p-1"><i
                                    class="fa fa-check fa-lg"></i></button>
                        </div>


                    </div>



                    <hr />


                    {{#unless is_log_in_by_third_party}}
                    <div class="row">
                        <div class="col-11 col-md-3">
                            <label style="font-weight:bold;">Email</label>
                        </div>

                        <div class="col-11 col-md-8">
                            {{email}}
                        </div>
                    </div>
                    <hr />
                    {{/unless}}


                    <div class="row">

                        <div class="col-11 col-md-3">
                            <label style="font-weight:bold;">Thời hạn gói premium</label>
                        </div>
                        <div class="col-11 col-md-8">
                            {{#if is_premium}}
                            {{date_time_format premium_date}} GMT+7
                            {{else}}
                            <span class="badge badge-secondary">Tài khoản chưa đăng ký premium</span>
                            {{/if}}
                        </div>

                    </div>

                    <hr />

                    {{#if is_writer}}
                    <div class="row">
                        <div class="col-11 col-md-3">
                            <label style="font-weight:bold;">Bí danh</label>
                        </div>
                        <div class="col-11 col-md-8">
                            {{#if nick_name}}
                            {{nick_name}}
                            {{else}}
                            Không có dữ liệu.
                            {{/if}}

                        </div>
                        <div class="col-11 col-md-1">
                            <button class="btn btn-outline-info p-1"><i class="fa fa-edit fa-lg" data-toggle="collapse"
                                    data-target="#change-nick-name"></i></button>
                        </div>
                    </div>

                    <div class="row mt-3 collapse" id="change-nick-name">

                        <div class="col-11 col-md-3">
                        </div>

                        <div class="col-11 col-md-8">
                            <form id="frmNickName" method="post" action="../auth/change-nick-name">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Bí danh"
                                        name="nickname" maxlength="100">
                                    <div id="name_invalid" class="invalid-feedback">
                                        Bí danh không hợp lệ.
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-11 col-md-1">
                            <button type="submit" form="frmNickName" value="Submit"
                                class="btn btn-outline-success p-1"><i class="fa fa-check fa-lg"></i></button>
                        </div>
                    </div>
                    <hr />
                    {{/if}}


                </div>

                <div class="d-flex">
                    {{#unless is_log_in_by_third_party}}
                    <button id="change-password-btn" type="button" class="btn btn-danger">Đổi mật khẩu</button>
                    {{/unless}}

                    <button id="sign-up-premium-btn" type="button" class="btn btn-success ml-2">Đăng ký Premium</button>

                </div>


                {{#if err_message}}
                <div id="change-pass-word" class="collapse show my-4 p-2 p-md-4 border border-light rounded shadow">
                    {{else}}
                    <div id="change-pass-word" class="collapse my-4 p-2 p-md-4 border border-light rounded shadow">
                        {{/if}}

                        {{#unless is_log_in_by_third_party}}
                        <form id="frmChangePassword" action="../auth/change-password" method="post">

                            <div class="form-group">
                                <label for="old-password">Mật khẩu cũ</label>
                                <input type="password" class="form-control" id="old-password"
                                    placeholder="Nhập mật khẩu cũ" name="password">

                                {{#if err_message}}
                                <div id="error_message" class="alert alert-danger">
                                    {{err_message}}
                                </div>
                                {{/if}}

                            </div>

                            <div class="form-group">
                                <label for="password">Mật khẩu mới</label>
                                <input type="password" class="form-control" id="password"
                                    placeholder="Nhập mật khẩu bạn muốn thay đổi" name="newpassword" maxlength="32">
                                <div id="pswmeter"></div>
                                <div id="password_invalid" class="invalid-feedback">
                                    Mật khẩu quá đơn giản.
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="password_confirm">Nhập lại mật khẩu mới</label>

                                <input type="password" class="form-control" id="password_confirm"
                                    placeholder="Nhập lại mật khẩu mới" maxlength="32">

                                <div id="password_confirm_invalid" class="invalid-feedback">
                                    Mật khẩu nhập lại không khớp.
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>

                        </form>
                        {{/unless}}

                    </div>


                    <div id="sign-up-premium" class="collapse my-4 p-2 p-md-4 border border-light rounded shadow">
                        <div class="jumbotron my-1">
                            <h4>Hướng dẫn đăng ký tài khoản premium</h4>
                            <ol>
                                <li>
                                    Để đăng premium vui lòng chuyển khoản đến: .
                                    <ul>
                                        <li>Số tài khoản: 6380205561534</li>
                                        <li>Chủ tài khoản: Nguyễn Đình Hoàng Phúc</li>
                                        <li>Tên ngân hàng: Agribank chi nhánh Bình Thạnh</li>
                                    </ul>
                                </li>

                                <li>
                                    Nội dung chuyển khoản: <b>{{user_id}} - LLPNEWS - [Số ngày đăng ký]</b>
                                </li>

                                <li>
                                    Số tiền chuyển khoản: [Số ngày đăng ký]*1000đ. <i>(Ví dụ: nếu bạn đăng ký sử dụng 30
                                        ngày thì số tiền chuyển là 30.000đ)</i>
                                </li>

                                <li> Trong quá trình kiểm tra, nếu có sai sót chúng tôi sẽ chủ động liên hệ quý khách và
                                    xử
                                    lý
                                    hoàn
                                    tiền.
                                </li>

                                <li>
                                    Mọi thắc mắc xin vui lòng liên hệ:
                                    <ul>
                                        <li>Số điện thoại: 0358631075</li>
                                        <li>
                                            Email: <a
                                                href="mailto:llp.newspapers@gmail.com">llp.newspapers@gmail.com</a>.
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                            Chân thành cảm ơn quý khác đã sử dụng dịch vụ của LLP Newspapers!
                        </div>

                    </div>



                </div>


            </div>


        </div>
    </div>
</div>


{{#section 'js'}}
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script src="/static/js/auth/pswmeter.js"></script>
<script src="/static/js/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
    $('#change-password-btn').click(function () {
        console.log("change password button clicked. ");
        $('#sign-up-premium').collapse('hide');
        console.log("collapse");
        $('#change-pass-word').collapse('toggle');
    }
    );
    $('#sign-up-premium-btn').click(function () {
        console.log("change password button clicked. ");
        $('#change-pass-word').collapse('hide');
        console.log("collapse");
        $('#sign-up-premium').collapse('toggle');
    }
    );

    $.datetimepicker.setDateFormatter('moment');

    $('#date_of_birth').datetimepicker(
        {
            timepicker: false,
            format: 'DD/MM/YYYY'
        }
    );

    const myPassMeter = passwordStrengthMeter({
        containerElement: '#pswmeter',
        passwordInput: '#password',
        height: 6,
        borderRadius: 0,
        pswMinLength: 8
    });
</script>
<script src="/static/js/profile/profile.js">
</script>
{{/section}}