<div class="row">
  <div class="col-sm-7" style="padding: 0">
    <!-- Slideshow container -->
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      {{#each hot_news}}
      <div class="mySlides card" style="padding-bottom: 20px;">
        <span class="badge badge-danger week-point">ĐIỂM TUẦN</span>
        <div class="img-containter">
          <a href="/articles/{{article_id}}">
            <img class="img-fluid lazy loaded" src="{{avatar_url}}" data-src="{{avatar_url}}" width="100%">
          </a>
        </div>
        <div class="big-title">
          <a href="/articles/{{article_id}}" class="title-link">{{article_title}}</a>
        </div>
        <div style="font-size: large;">
          <span class="d-none d-sm-inline me-1" style="margin-left: 30px;">
            <a class="fw-bold" href="/categories/{{category_id}}">{{category_name}}</a>
          </span>
          <span class="date">&nbsp;{{date_format time_published}}</span>
        </div>
      </div>
      {{/each}}

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

  </div>
  <div class="col-sm-5">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="tab-javascript" data-toggle="tab" href="#content-javascript" role="tab"
          aria-controls="content-javascript">
          MỚI NHẤT
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab-css" data-toggle="tab" href="#content-css" role="tab" aria-controls="content-css">
          ĐỌC NHIỀU
        </a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="content-javascript" role="tabpanel" aria-labelledby="tab-javascript">
        <div class="hot-news-container">
          {{#each latest_news}}
          <div class="card" style="height: 100px; margin: 10px 0px">
            <div class="card-horizontal">
              <a href="/articles/{{article_id}}">
                <img src="{{avatar_url}}" alt="Card image cap" height="100px" width="150px">
              </a>
              <a href="/articles/{{article_id}}" class="title-link h-card-content">{{article_title}}</a>
              <div class="h-time">
                <span class="d-none d-sm-inline me-1">
                  <a class="fw-bold" href="/categories/{{category_id}}">{{category_name}}</a>
                </span>
                <span class="date">&nbsp;{{date_format time_published}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="tab-pane fade show active" id="content-css" role="tabpanel" aria-labelledby="tab-css">
        <div class="hot-news-container">
          {{#each most_news}}
          <div class="card" style="height: 100px; margin: 10px 0px">
            <div class="card-horizontal">
              <a href="/articles/{{article_id}}">
                <img src="{{avatar_url}}" alt="Card image cap" height="100px" width="150px">
              </a>
              <a href="/articles/{{article_id}}" class="title-link h-card-content">{{article_title}}</a>
              <div class="h-time">
                <span class="d-none d-sm-inline me-1">
                  <a class="fw-bold" href="/categories/{{category_id}}">{{category_name}}</a>
                </span>
                <span class="date">&nbsp;{{date_format time_published}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    </ul>
  </div>
</div>
<div class="row" style="margin: 20px 0px;">
  <h3>CHUYÊN MỤC NỔI BẬT</h3>
</div>
<div class="row" style="margin-bottom: 20px;">
  {{#each hot_categories}}
  <div class="col-sm-2 v-article">
    <a href="/categories/{{category_id}}" class="cat-link text-uppercase btn btn-secondary border mb-2 article-category"
      style="font-size: medium;">{{category_name}}</a>
    <div class="card v-card">
      <a href="/articles/{{article_id}}">
        <img class="card-img-top" src="{{avatar_url}}" alt="Card image cap" width="180px" height="120px"></a>
      <a href="#" class="title-link v-card-content">{{article_title}}</a>
      <div class="v-time">
        {{date_format time_published}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{#section 'css'}}
<link rel="stylesheet" href="/static/css/home.css">
{{/section}}

{{#section 'js'}}
<script src="/static/js/home.js"></script>
{{/section}}