<div class="card">
  <h4 class="card-header">
    Chỉnh sửa chuyên mục con
  </h4>
  <div class="card-body">
    {{#if err_message}}
    <div id="error_message" class="alert alert-danger">
      {{err_message}}
    </div>
    {{/if}}
    <form method="POST">
      <div class="form-group">
        <label for="txtCatID">ID</label>
        <input type="text" readonly class="form-control" id="txtCatID" name="cat_id" value="{{category.category_id}}">
      </div>
      <div class="form-group">
        <label for="txtCatName">Tên chuyên mục</label>
        <input type="text" class="form-control" id="txtCatName" name="cat_name" autofocus
          value="{{category.category_name}}" required>
      </div>
      <div class="form-group">
            <label for="category">Chuyên mục chính</label>
            <select name="parent_category_id" class="form-control" id="category" required>
                {{#each main_cats}}
                  <option value="{{category_id}}" {{#if select}}selected="selected"{{/if}}>{{category_name}}</option>
                {{/each}}
            </select>
        </div>
      <a class="btn btn-primary" href="/admin/categories/{{parent_cat_id}}/subs" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Trở về
      </a>
      <button type="submit" class="btn btn-danger ml-5" formaction="/admin/categories/{{parent_cat_id}}/subs/{{category.category_id}}/del"
      onclick="return confirm('Toàn bộ thông tin đến chuyên mục này sẽ bị xóa, nếu vẫn còn bài viết thuộc chuyên mục này bạn sẽ không thể thực hiện tính năng này')">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Xóa
      </button>
      <button type="submit" class="btn btn-success ml-5" formaction="/admin/categories/{{parent_cat_id}}/subs/{{category.category_id}}/patch"
      onclick="return confirm('Thay đổi này có thể ảnh hưởng đến phân loại các bài viết liên quan. Bạn có muốn thực hiện không?')">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu
      </button>
    </form>
  </div>
</div>