<!--Content start-->
<main id="content">
    <!--Container-->
    <div class="container c-mobile">
        <div class="row">
            <!--Start include wrapper-->
            <div class="include-wrapper pb-5 col-12">
                <div class="row mt-4 py-3">
                    <!--content-->
                    <div class="col-md-12">
                        <div class="row"> 
                            <div class="col-12 mb-4">
                                <h3 style="margin-bottom: 30px; text-transform: uppercase"><a role="button" href="/admin/dashboard"><i class="fa fa-home fa-lg title-link" aria-hidden="true"></i></a>&nbsp;&nbsp;QUẢN LÝ CHUYÊN MỤC CON - {{cat_name.category_name}}</h3>
                                {{#if message}}
                                <center>
                                <div id="error_message" class="alert alert-success" style="margin-top: 30px; text-align: left">
                                    {{message}}
                                </div>
                                </center>
                                {{/if}}
                                <span class="float-left mb-4"><a class="btn btn-outline-primary" 
                                href="/admin/categories" role="button">
                                    <i class="fa fa-backward" aria-hidden="true"></i>
                                    Về chuyên mục chính
                                </a></span>
                            
                                <span class="float-lg-right float-sm-left"><a
                                        class="btn btn-outline-primary" href="/admin/categories/{{cat_id}}/add"><i
                                            class="fa fa-plus"></i> Thêm chuyên mục con</a></span>
                            </div>
                        </div>

                        <!--table start-->
                        <center>
                            <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="border-bottom-0 text-center">ID</th>
                                        <th class="border-bottom-0 text-center">Tên chuyên mục</th>
                                        <th class="border-bottom-0 text-center">Xem danh sách bài báo</th>
                                        <th class="border-bottom-0 text-center">Chỉnh sửa chuyên mục con</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each categories}}
                                    <tr>
                                        <td class="text-center">{{category_id}}</td>
                                        <td class="text-center">{{category_name}}</td>
                                        <td class="text-center">
                                            <a class="btn btn-primary btn-sm text-white mb-2 mb-lg-0 px-3"
                                                href="/admin/articles?tab=0&main_cat={{../cat_id}}&sub_cat={{category_id}}"><i
                                                    class="fa fa-eye"></i> Xem</a>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-success btn-sm text-white mb-2 mb-lg-0 px-3"
                                                href="/admin/categories/{{../cat_id}}/subs/{{category_id}}"><i
                                                    class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Sửa</a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            </div>
                        </center>
                        <!--end table-->
                        <!--Pagination-->
                        <nav aria-label="..." class="d-flex justify-content-center" style="padding-top: 30px;">
                            <ul class="pagination">
                                <li class="page-item {{#if this.page_first}} disabled {{else}} enabled {{/if}}">
                                    <a class="page-link" href="?page=1" aria-disabled="true">&lt;&lt;</a>
                                </li>
                                {{#each this.page_numbers}}
                                {{#if isCurrent}}
                                <li class="page-item {{#if isCurrent}}active{{/if}}">
                                    <a class="page-link" href="javascript:;">{{value}}</a>
                                </li>
                                {{else}}
                                <li class="page-item {{#if hide}}hide{{/if}}">
                                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                <li class="page-item {{#if this.page_last}} disabled {{else}} enabled {{/if}}">
                                    <a class="page-link" href="?page={{n_pages}}" aria-disabled="true">&gt;&gt;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>