<form method="post" enctype="multipart/form-data" id="form1">
    {{#if is_rejected}}
    <div class="reject-div p-3 mb-3">
        <label for="comment" class="text-dark">Lí do từ chối:</label>
        <textarea class="form-control" id="comment" name="comment" rows="2" disabled>{{comment}}</textarea>
    </div>
    {{/if}}
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="is_premium" name="is_premium" {{#if
            article.is_premium}}checked{{/if}}>
        <label class="form-check-label" for="is_premium">
            PREMIUM
        </label>
    </div>
    <div class="form-group">
        <label for="title">TIÊU ĐỀ</label>
        <input type="text" class="form-control" name="article_title" id="title" maxlength="90" minlength="10"
            value="{{this.article.article_title}}" required>
    </div>
    <div class="form-group">
        <label for="abstract">TÓM TẮT</label>
        <textarea class="form-control" name="article_abstract" id="abstract" rows="5" maxlength="300"
            required>{{article.article_abstract}}</textarea>
    </div>
    <div class="form-group">
        <label for="avatar">ẢNH BÌA</label>
        <div id="upload_conainter" hidden>
            <input type="file" class="form-control" name="avatar" id="avatar"></input>
        </div>
    </div>

    <div id="avatar_container">
        <div class="btn btn-outline-primary mb-3" id="btn_edit_avatar"><i class="fa fa-pencil"></i> Đổi ảnh bìa</div>
        <br>
        <img src="{{article.avatar_url}}" alt="Ảnh bìa" class="pb-4" style="max-width: 100%; height: auto;"
            onerror="this.src='https://icon-library.com/images/no-picture-available-icon/no-picture-available-icon-1.jpg';">
    </div>

    <div class="form-group">
        <label for="avatar_caption">MÔ TẢ ẢNH BÌA</label>
        <input type="text" class="form-control" name="avatar_caption" id="avatar_caption"
            value="{{article.avatar_caption}}" required>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <label for="category">CHUYÊN MỤC</label>
            <select name="category_id" class="form-control" id="category" required>
                {{#each main_cats}}
                <option value="{{category_id}}">{{category_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-md-5">
            <label for="sub_category">CHUYÊN MỤC CON</label>
            <select name="sub_category" class="form-control" id="sub_category">
            </select>
        </div>
    </div>
    <label for="tags">TAGS</label>
    <div class="row mb-3">
        <div class="input-group col-md-5">
            <input type="text" list="tag-list" class="form-control" id="tags" />
            <datalist id="tag-list">
            </datalist>
            <div class="input-group-append">
                <div class="btn btn-primary" id="btn-add-tag">
                    <i class="fa fa-plus"></i> Thêm tag
                </div>
            </div>
        </div>
        <div class="col-md-5" id="alert-area" style="color: red;"></div>
    </div>
    <div class="mb-2" id="tag-area">
        {{#each tags}}
        <div class="btn-group mr-3 mb-3" role="group">
            <div class="btn btn-outline-primary tag_ori">{{tag_name}}</div>
            <div class="btn btn-outline-danger delete-btn" value="{{tag_name}}"><i class="fa fa-trash"></i></div>
        </div>
        {{/each}}
    </div>
    <div class="form-group">
        <label for="content">NỘI DUNG</label>
        <textarea id="content" name="article_content" required>{{{article.article_content}}}</textarea>
    </div>
    {{#if is_admin}}
    <div class="text-center mb-3">
        <button type="submit" class="btn btn-success">
            <i class="fa fa-check" aria-hidden="true"></i>
            Lưu cập nhật
        </button>
    </div>
    {{else}}
    <div class="text-center mb-3">
        <button type="submit" class="btn btn-dark" name="action" value="draft">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            Lưu bản nháp
        </button>
        <button type="submit" class="btn btn-success" name="action" value="submit">
            <i class="fa fa-check" aria-hidden="true"></i>
            Hoàn tất và gửi
        </button>
    </div>
    {{/if}}
</form>

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/js/fileinput.min.js"></script>
<script>
    var avatar_url = "{{article.avatar_url}}";
    var main_cat = "{{parent_cat.id}}";
    var main_cat_name = "{{parent_cat.name}}";
    var sub_cat = "{{sub_cat.category_id}}";
    var sub_cat_name = "{{sub_cat.category_name}}"
</script>
<script src="/static/js/writer/writer.edit.js"></script>
{{/section}}

{{#section 'css'}}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
    crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/css/editor/editor.view.css">
<style>
    label {
        font-weight: 650;
        color: #2596be;
    }
</style>
{{/section}}