<form method="post" enctype="multipart/form-data" id="form1">
    {{#if is_rejected}}
    <div class="reject-div p-3 mb-3">
        <label for="comment" class="text-dark">Lí do từ chối:</label>
        <textarea class="form-control" id="comment" name="comment" rows="2" disabled>{{comment}}</textarea>
    </div>
    {{/if}}
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="is_premium" name="is_premium" {{#if
            article.is_premium}}checked{{/if}} disabled>
        <label class="form-check-label" for="is_premium">
            PREMIUM
        </label>
    </div>
    <div class="form-group">
        <label for="title">TIÊU ĐỀ</label>
        <input type="text" class="form-control" name="article_title" id="title" maxlength="75"
            value="{{article.article_title}}" readonly>
    </div>
    <div class="form-group">
        <label for="abstract">TÓM TẮT</label>
        <textarea class="form-control" name="article_abstract" id="abstract" rows="5"
            readonly>{{article.article_abstract}}</textarea>
    </div>

    <div id="avatar_container" class="form-group">
        <label for="avatar">ẢNH BÌA</label>
        <br>
        <img src="{{article.avatar_url}}" alt="Ảnh bìa" class="pb-4" style="max-width: 100%; height: auto;">
    </div>

    <div class="form-group">
        <label for="avatar_caption">MÔ TẢ ẢNH BÌA</label>
        <input type="text" class="form-control" name="avatar_caption" id="avatar_caption"
            value="{{article.avatar_caption}}" readonly>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <label for="category">CHUYÊN MỤC</label>
            <input type="text" name="category_id" class="form-control" id="category" readonly>
            </input>
        </div>
        <div class="form-group col-md-5">
            <label for="sub_category">CHUYÊN MỤC CON</label>
            <input type="text" name="sub_category" class="form-control" id="sub_category" readonly>
            </input>
        </div>
    </div>
    <label for="tags">TAGS</label>
    <div class="mb-2" id="tag-area"></div>
    <div class="form-group">
        <label for="content">NỘI DUNG</label>
        <div id="content" name="article_content" readonly>{{{article.article_content}}}</div>
    </div>
</form>

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/js/fileinput.min.js"></script>
<script src="/static/js/writer/writer.view.js"></script>
{{/section}}

{{#section 'css'}}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
    crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.2/css/fileinput.min.css" media="all"
    rel="stylesheet" type="text/css" />
<style>
    label {
        font-weight: 650;
        color: #2596be;
    }
</style>
{{/section}}