{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/js/datetimepicker/jquery.datetimepicker.css" />
{{/section}}


<div class="card my-3 mx-2 m-md-5 ">
  <h2 class="card-header">
    Chi tiết người dùng
  </h2>

  <div class="card-body">

    {{#if err_message}}
    <div id="error_message" class="alert alert-danger">
      {{err_message}}
    </div>
    {{/if}}

    {{#if redirect_message}}
    <div id="redirect_message" class="alert alert-info">
      {{redirect_message}}
    </div>
    {{/if}}

    <div class="form-group">
      <form class="float-md-right" id="frmDeleteUser" method="POST" action="/admin/users/del/{{user_id}}">
        <button type="submit" class="float-md-right my-1 btn btn-danger mx-md-3"
          onclick="return confirm('Toàn bộ thông tin người dùng sẽ bị xóa - bao gồm cả thông tin từ các bảng liên quan.');">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Xóa người dùng
        </button>
      </form>
    </div>

    <form id="frmAdminEditUser" method="POST" action='/admin/users/patch/{{user_id}}'>
      <div class="form-group">
        <div class="m-md-5" id="myTabContent">
          <div class="" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">


            <div class="row">

              <div class="col-11  col-md-3">
                <label style="font-weight:bold;">UserID:</label>
              </div>

              <div class="col-11  col-md-8">
                <label>{{user_id}}</label>
              </div>

            </div>
            <hr />


            <div class="row">
              <div class="col-11  col-md-3">
                <label style="font-weight:bold;">Tài khoản:</label>
              </div>
              <div class="col-11  col-md-8">
                {{#if user_name}}
                <label>{{user_name}}</label>
                {{else}}
                <label>Đăng nhập bên thứ 3</label>
                {{/if}}
              </div>
            </div>

            <hr />

            <div class="row">
              <div class="col-11  col-md-3">
                <label style="font-weight:bold;">Email</label>
              </div>

              <div class="col-11  col-md-8">
                {{#if email}}
                <label> {{email}}</label>
                {{else}}
                <label>Đăng nhập bên thứ 3</label>
                {{/if}}
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-11  col-md-3">
                <label style="font-weight:bold;">Xác thực</label>
              </div>

              <div class="col-11  col-md-8">
                {{#if is_authenticated}}
                <label>Đã xác thực</label>
                {{else}}
                <label>Chưa xác thực</label>
                {{/if}}
              </div>
            </div>

            <hr />


            <div class="row">
              <div class="col-11  col-md-3">
                <label for="name" style="font-weight:bold;">Họ và tên</label>
              </div>
              <div class="col-11  col-md-8">
                <input type="text" class="form-control" id="name" placeholder="{{name}}" value="{{name}}" name="name"
                  maxlength="100">
                <div id="name_invalid" class="invalid-feedback">
                  Tên không hợp lệ.
                </div>
              </div>
            </div>


            <hr />

            <div class="row">
              <div class="col-11  col-md-3">
                <label for="date_of_birth" style="font-weight:bold;">Ngày sinh: </label>
              </div>
              <div class="col-11  col-md-8">
                <input readonly id="date_of_birth" name="raw_date_of_birth" value="{{date_format_2 date_of_birth}}"
                  placeholder="{{date_format_2 date_of_birth}}">
                <div id="date_of_birth_invalid" class="invalid-feedback">
                  Ngày sinh không hợp lệ.
                </div>
              </div>
            </div>

            <hr />


            <div class="row">
              <div class="col-11  col-md-3">
                <label style="font-weight:bold;">Giới tính</label>
              </div>

              <div class="col-11  col-md-8">
                <select class="form-select" id="gender" name="gender">
                  {{{render_gender gender}}}
                </select>
              </div>
            </div>

            <hr />


            <div class="row">
              <div class="col-11  col-md-3">
                <label style="font-weight:bold;">Phân quyền premium</label>
              </div>
              <div class="col-11  col-md-8">
                {{#if is_premium}}
                <input id="checked_premium" name="check_premium" class="form-check-input" type="checkbox" checked
                  style="margin:auto">
                {{else}}
                <input id="checked_premium" name="check_premium" class="form-check-input" type="checkbox"
                  style="margin:auto">
                {{/if}}
              </div>
            </div>

            {{!-- Collapsed When not check--}}
            {{#if is_premium}}
            <div class="row collapse show my-3" id="change-time-premium">
              <div class="col-11  col-md-3">
                <label style="font-weight:lighter;"><i>Thời điểm hết hạn (GMT+7)</i></label>
              </div>

              <div class="col-11  col-md-8">
                <input readonly class="form-control" id="txtTimePremium" name="time_premium"
                  placeholder="{{date_time_format time_premium}}" value="{{date_time_format time_premium}}">

                <div id="time_premium_invalid" class="invalid-feedback">
                  Thời gian không hợp lệ.
                </div>

              </div>
            </div>

            {{else}}
            <div class="row collapse my-3" id="change-time-premium">
              <div class="col-11  col-md-3">
                <label style="font-weight:lighter;"><i>Thời điểm hết hạn (GMT+7)</i></label>
              </div>
              <div class="col-11  col-md-8">
                <input readonly class="form-control" id="txtTimePremium" name="time_premium" placeholder="DD/MM/YYYY HH:mm"
                  value="">
                <div id="time_premium_invalid" class="invalid-feedback">
                  Thời gian không hợp lệ.
                </div>
              </div>


            </div>
            {{/if}}

            <hr />




            <div class="row">
              <div class="col-11  col-md-3">
                <label style="font-weight:bold;">Phân quyền phóng viên</label>
              </div>
              <div class="col-11  col-md-8">
                {{#if is_writer}}
                <input class="form-check-input" id="check_writer" name="check_writer" type="checkbox" checked
                  style="margin:auto">
                {{else}}
                <input class="form-check-input" id="check_writer" name="check_writer" type="checkbox"
                  style="margin:auto">
                {{/if}}
              </div>
            </div>

            {{!-- Collapsed When not check--}}

            {{#if is_writer}}

            <div class="row collapse show my-3" id="change-nickname">
              <div class="col-11  col-md-3">
                <label style="font-weight:lighter;"><i>Bí danh</i></label>
              </div>
              <div class="col-11  col-md-8">
                <input id="nickname" name="nick_name" value="{{nick_name}}" placeholder="{{nick_name}}">
              </div>
            </div>

            {{else}}
            <div class="row collapse my-3" id="change-nickname">
              <div class="col-11  col-md-3">
                <label style="font-weight:lighter;"><i>Bí danh</i></label>
              </div>
              <div class="col-11  col-md-8">
                <input id="nickname" name="nick_name" placeholder="Ví dụ: Sói Con">
              </div>
            </div>
            {{/if}}




            <hr />




            <div class="row">

              <div class="col-11  col-md-3">
                <label style="font-weight:bold;">Phân quyền biên tập viên</label>
              </div>

              <div class="col-11  col-md-8">
                {{#if is_editor}}
                <input id="check_editor" name="check_editor" class="form-check-input" type="checkbox" checked
                  style="margin:auto">
                {{else}}
                <input id="check_editor" name="check_editor" class="form-check-input" type="checkbox"
                  style="margin:auto">
                {{/if}}
              </div>

            </div>
          </div>

          {{!-- EDITOR Collapsed When not check--}}
          {{#if is_editor}}
          <div class="my-3 row collapse show" id="change-assigned-categoríes">
            <div class="col-11  col-md-3">
              <label style="font-weight:lighter;"><i>Phân công chuyên mục</i></label>
            </div>

            <div class="col-11  col-md-8">
              <select id="categories_selected" name="categories_selected" class="form-select" multiple size="10"
                aria-label="size 3 select example">
                {{{render_categories categories selected_categories}}}
              </select>
            </div>

          </div>
          {{else}}
          <div class="my-3 row collapse" id="change-assigned-categoríes">

            <div class="col-11  col-md-3">
              <label style="font-weight:lighter;"><i>Phân công chuyên mục</i></label>
            </div>

            <div class="col-11  col-md-8">
              <select id="categories_selected" name="categories_selected" class="form-select" multiple size="10"
                aria-label="size 3 select example">
                {{#each categories}}
                <option value="{{category_id}}">{{category_name}}</option>
                {{/each}}
              </select>
            </div>

          </div>
          {{/if}}


          <hr />

          <div class="d-flex flex-column flex-md-row justify-content-center">
            <a class="my-1 mx-md-3 btn btn-primary" href="/admin/users/" role="button">
              <i class="fa fa-backward" aria-hidden="true"></i>
              Trở về
            </a>
            <button type="submit" class="my-1 btn btn-success mx-md-3">
              <i class="fa fa-check" aria-hidden="true"></i>
              Lưu
            </button>
          </div>
        </div>
    </form>
  </div>
</div>

{{#section 'js'}}
<script src="/static/js/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
  $("#checked_premium").change(function () {
    $("#checked_premium").attr("disabled", true);
    $('#change-time-premium').collapse('toggle');
  });
  $('#change-time-premium').on('hidden.bs.collapse', function () {
    $("#checked_premium").removeAttr("disabled");
  });
  $('#change-time-premium').on('shown.bs.collapse', function () {
    $("#checked_premium").removeAttr("disabled");
  });

  /////////////////////////////////////////////////////////////////

  $("#check_editor").change(function () {
    $("#check_editor").attr("disabled", true);
    $('#change-assigned-categoríes').collapse('toggle');
  });
  $('#change-assigned-categoríes').on('hidden.bs.collapse', function () {
    $("#check_editor").removeAttr("disabled");
  });
  $('#change-assigned-categoríes').on('shown.bs.collapse', function () {
    $("#check_editor").removeAttr("disabled");
  });

  /////////////////////////////////////////////////////////////////


  $("#check_writer").change(function () {
    $("#check_writer").attr("disabled", true);
    $('#change-nickname').collapse('toggle');
  });
  $('#change-nickname').on('hidden.bs.collapse', function () {
    $("#check_writer").removeAttr("disabled");
  });
  $('#change-nickname').on('shown.bs.collapse', function () {
    $("#check_writer").removeAttr("disabled");
  });


  /////////////////////////////////////////////////////////////////


  $('#categories_selected option').mousedown(function (e) {
    e.preventDefault();
    $(this).prop('selected', !$(this).prop('selected'));
    return false;
  });


  $.datetimepicker.setDateFormatter('moment');
  $('#txtTimePremium').datetimepicker(
    {
      format: 'DD/MM/YYYY HH:mm'
    }
  );
  $('#date_of_birth').datetimepicker(
    {
      timepicker: false,
      format: 'DD/MM/YYYY'
    }
  );

</script>

<script src="/static/js/auth/authenticate.js"> </script>

{{/section}}