<!--Content start-->
<main id="content">
    <!--Container-->
    <div class="container c-mobile">
        <div class="row">
            <!--Start include wrapper-->
            <div class="include-wrapper pb-5 col-12">
                <div class="row mt-4 py-3">
                    <!--content-->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <h2><b>QUẢN LÝ NGƯỜI DÙNG</b></h2>
                                <span class="float-right"><a class="btn btn-outline-primary" href="/admin/users/add"><i
                                            class="fa fa-plus"></i> Thêm người dùng
                                        mới</a></span>
                            </div>
                        </div>
                        <!--table start-->

                        <div class="table-responsive">
                            <center>
                                <table class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="border-bottom-0 text-center">ID</th>
                                            <th class="border-bottom-0 text-center">Username</th>
                                            <th class="border-bottom-0 text-center">Email</th>
                                            <th class="border-bottom-0 text-center">Họ và Tên</th>
                                            <th class="border-bottom-0 text-center">Giới tính</th>
                                            <th class="border-bottom-0 text-center">Xác thực</th>
                                            <th class="border-bottom-0 text-center">Độc giả Premium</th>
                                            <th class="border-bottom-0 text-center">Phóng viên</th>
                                            <th class="border-bottom-0 text-center">Biên tập viên</th>
                                            <th class="border-bottom-0 text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each users}}
                                        <tr>
                                            <td class="text-center">{{user_id}}</td>

                                            {{#if user_name}}
                                            <td class="text-center">{{user_name}}</td>
                                            {{else}}
                                            <td class="text-center">NULL</td>
                                            {{/if}}

                                            {{#if email}}
                                            <td class="text-center">{{email}}</td>
                                            {{else}}
                                            <td class="text-center">NULL</td>
                                            {{/if}}

                                            <td class="text-center">{{name}}</td>
                                            <td class="text-center">
                                                {{gen_gender gender}}
                                            </td>
                                            <td class="text-center">
                                                {{#if is_authenticated}}
                                                <i class="text-primary fa fa-check-square"></i>
                                                {{else}}
                                                <i class="text-secondary fa fa-times-circle"></i>
                                                {{/if}}
                                            </td>
                                            <td class="text-center">
                                                {{#if is_premium}}
                                                <i class="text-primary fa fa-check-square"></i>
                                                {{else}}
                                                <i class="text-secondary fa fa-times-circle"></i>
                                                {{/if}}
                                            </td>
                                            <td class="text-center">
                                                {{#if is_writer}}
                                                <i class="text-primary fa fa-check-square"></i>
                                                {{else}}
                                                <i class="text-secondary fa fa-times-circle"></i>
                                                {{/if}}
                                            </td>
                                            <td class="text-center">
                                                {{#if is_editor}}
                                                <i class="text-primary fa fa-check-square"></i>
                                                {{else}}
                                                <i class="text-secondary fa fa-times-circle"></i>
                                                {{/if}}
                                            </td>

                                            <td class="text-center">
                                                <a class="btn btn-outline-success"
                                                    href="/admin/users/edit/{{user_id}}"><i
                                                        class="fa fa-info-circle fa-lg"></i></a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </center>
                        </div>
                        <!--end table-->

                        <!--Pagination-->
                        <nav aria-label="..." class="d-flex justify-content-center" style="padding-top: 30px;">
                            <ul class="pagination">
                                <li class="page-item {{#if this.page_first}} disabled {{else}} enabled {{/if}}">
                                    <a class="page-link" href="?page=1" aria-disabled="true">Trang đầu</a>
                                </li>

                                <li class="page-item {{#if this.page_first}} disabled {{else}} enabled {{/if}}">
                                    <a class="page-link" href="?page={{this.previous_page}}" aria-disabled="true">Trang
                                        trước</a>
                                </li>

                                {{#each this.page_numbers}}

                                {{#if isCurrent}}
                                <li class="page-item {{#if isCurrent}}active{{/if}}">
                                    <a class="page-link" href="javascript:;">{{value}}</a>
                                </li>
                                {{else}}
                                <li class="page-item {{#if hide}}hide{{/if}}">
                                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}

                                {{/each}}
                                <li class="page-item {{#if this.page_last}} disabled {{else}} enabled {{/if}}">
                                    <a class="page-link" href="?page={{this.next_page}}" aria-disabled="true">Trang
                                        tiếp</a>
                                </li>

                                <li class="page-item {{#if this.page_last}} disabled {{else}} enabled {{/if}}">
                                    <a class="page-link" href="?page={{n_pages}}" aria-disabled="true">Trang cuối</a>
                                </li>
                            </ul>

                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>